:root{
    --back-button-container-height: 60px;
}
.website-logo{
    width: 200px;
}
body{
    background-color:rgb(132, 190, 255);
    margin: 0;

}
.full-width{
    background-image: linear-gradient(to bottom, rgb(224, 235, 255), rgb(132, 190, 255));
}
.main-header{
    /* display:none; */
    position:fixed;
    background: none;
}
.main-container{
    display:flex;
}
.menu-container{
    flex:2;
}


.img-container{
    position:sticky;
    top:0px;
    display:flex;
    flex:1;
    height: 100vh;
}
.cover-image{
    height: 100%;
}


.read-botmoder{
    font: bold 50px Arial;
    color:white;
    margin-top:300px;
    text-align:center;
    -webkit-text-stroke: 7px black;

}
.fix-stroke {
   paint-order: stroke fill;
}

.backButton{

    

    height: calc(var(--back-button-container-height) * 0.7);
    width: calc(var(--back-button-container-height) * 2);
    background-color: white;
    border: 3px black solid;
    border-radius: calc(var(--back-button-container-height) * 0.35);
    margin: 10px auto;
    display: block;
    align-content:center;
    text-align:center;
    color: black;
    /* position:fixed; */

    text-decoration: none;

}
